services:
  api:
    build: .
    container_name: role-management-api
    ports:
      - "3000:3000"
    volumes:
      - ./:/usr/src/app
      - logs:/usr/src/app/logs
    env_file:
      - .env
    depends_on:
      - mongo
    restart: unless-stopped
  mongo:
    image: mongo:6
    container_name: role-management-mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

volumes:
  mongo-data:
  logs:
